<form method='POST' action='/change_password/<%=user %>'>
<input type='text' name='password' placeholder="Enter password">
<input type='text' name='r_password' placeholder="Enter password">
<input type="submit">
</form>